---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Contacto | Cuatrocubos Soluciones" description="Contáctanos para hablar sobre tu proyecto de software, implementación de ERP, punto de venta o consultoría tecnológica. Estamos en Honduras y trabajamos con clientes en toda la región.">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contacto</Fragment>
      <Fragment slot="desc">Estamos aquí para ayudarte.</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contacta a Cuatrocubos</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          ¿Tienes algo que decir? Estamos aquí para ayudarte. Completa el formulario o envía un correo electrónico o llama por teléfono.
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>Res. Valle Verde, Valle de Angeles, Honduras</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:info@cuatrocubos.com"
              >info@cuatrocubos.com</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:+50498765432">+504 9876 5432</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
